<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Management System</title>
    <script
      src="https://kit.fontawesome.com/655b3b7e45.js"
      crossorigin="anonymous"
    ></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> -->
    <link rel="stylesheet" href="/css/module.css" />
  </head>
  <body>
    <div id="app">
      <form id="addTaskForm" class="taskForm">
        <input
          type="text"
          class="taskInput"
          id="taskDescription"
          placeholder="Add a new task"
          autocomplete="off"
          required
        />
        <!-- <button type="submit">Add Task</button> -->
        <button type="submit" class="addTask">
          <i class="fa-solid fa-plus"></i>
        </button>
      </form>
      <ul>
        <h3 id="taskList"></h3>
      </ul>
      <form action="/logout" method="post" class="logoutForm">
        <button type="submit" class="logoutBtn">Logout</button>
      </form>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
